body{
				margin: 0;
				background-color: #4ebdee;
		}
.inna{
   background:none;
   outline:none;
   width: 130px;
   height: 28px;
   border: 1px solid #8ce1fe;
   border-radius: 15px;
   padding-left: 10px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}
.name span,.age span{
	font: bold 12px/30px "微软雅黑";
	color: #000;
	/*margin-right: 9px;*/
}
.name{
	margin-right: 38px;
}
.name,.age{
	float: left;
}
.box{
	width: 460px;
	margin: 20px auto;
}
.compile{
	width: 380px;
	height: 95px;
	background-color: #fff;
	border-radius: 10px;
	padding: 25px 40px 0 40px;
}
.gender{
	float: left;
	height: 40px;
	font: bold 12px/30px "微软雅黑";
	margin-top: 10px;
}
.gender span{
	float: left;
	margin-right: 6px;
}
.check{
	width: 130px;
   height: 28px;
   border: 1px solid #8ce1fe;
   border-radius: 15px;
   padding-left: 10px;
   background-color: #000;
   opacity: .5;
   color: #fff;
   margin-top: 5px;
}
.check span{
	display: inline-block;
	margin: 0 8px;
	font: bold 12px/30px "微软雅黑";
	cursor: pointer;
}
.check-box{
	width: 130px;
   height: 28px;
   border: 1px solid #8ce1fe;
   border-radius: 15px;
   padding-left: 10px;
  margin-right: 38px;
   position: relative;
}

.check-box span:nth-of-type(2){
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
.add{
	width: 170px;
   height: 30px;
   border-radius: 15px;
   text-align: center;
   font: bold 12px/30px "微软雅黑";
   color: #fff;
   background-color: #8ce1fe;
   float: left;
   margin-top:10px;
}
